.section {
  width: 1200px;
  max-width: 100%;
  margin: 0 auto;
  background: #f2f2f2;
}

.image-carousel {
  width: 100%;
  height: 100%;
  position: relative;

  .image-carousel__item-list-wrapper {
    height: 100%;
    overflow: hidden;
    touch-action: pan-y;

    .image-carousel__item-list {
      display: flex;
      position: relative;
      height: 100%;
      padding: 0;
      margin: 0;
      transition: all 500ms ease 0s;

      .image-carousel__item {
        overflow-x: hidden;
        list-style: none;
        float: left;
        touch-action: pan-y;
        overflow-x: unset !important;

        .home-category-list__group {
          text-decoration: none;
          color: rgba(0, 0, 0, 0.87);
          display: block;
          width: 240px;
          box-sizing: border-box;
          background: #ccc;

          .home-category-list__category-grid {
            text-decoration: none;
            color: rgba(0, 0, 0, 0.87);
            border-right: 1px solid rgba(0, 0, 0, 0.05);
            border-bottom: 1px solid rgba(0, 0, 0, 0.05);
            text-align: center;
            background-color: #fff;
            display: block;
            position: relative;
            transition: transform 0.1s cubic-bezier(0.4, 0, 0.6, 1),
              box-shadow 0.1s cubic-bezier(0.4, 0, 0.6, 1);

            .home-category-list__category-grid__wrap {
              display: flex;
              flex-direction: column;
              justify-content: center;
              align-items: center;

              .image {
                flex-shrink: 1;
                width: 70px;
                height: 70px;
                margin-top: 10%;
                margin-bottom: 10%;
              }

              .text-wrap {
                width: 90%;
                height: 3.125rem;
                text-align: center;

                span {
                  color: rgba(0, 0, 0, 0.8);
                  font-size: 0.875rem;
                  text-decoration: none;
                  line-height: 1.25rem;
                  height: 2.5rem;
                  margin-bottom: 0.625rem;
                  word-break: break-word;
                  overflow: hidden;
                  display: -webkit-box;
                  text-overflow: ellipsis;
                  -webkit-box-orient: vertical;
                  -webkit-line-clamp: 2;
                }
              }
            }
          }
        }
      }
    }
  }

  .carousel-arrow {
    box-shadow: 0 1px 12px 0 rgb(0 0 0 / 12%);
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: 50px;
    height: 50px;
    line-height: 50px;
    font-size: 20px;
    border-radius: 50%;
    background-color: #fff;
    margin-top: -25px;
    transition: all 0.1s cubic-bezier(0.4, 0, 0.6, 1);
    opacity: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    outline: 0;

    &.carousel-arrow--hint {
      width: 25px;
      height: 25px;
      line-height: 25px;
      margin-top: -12.5px;
      background-color: #fff;

      .svg-icon {
        height: 0.625rem;
        width: 0.625rem;
        color: rgba(0, 0, 0, 0.54);
        fill: currentColor;
      }
    }

    &.carousel-arrow--prev {
      left: 0;
      opacity: 1;
      visibility: visible;
      transform: translateX(calc(-50% + 0px));
    }

    &.carousel-arrow--next {
      right: 0;
      opacity: 1;
      visibility: visible;
      transform: translateX(calc(50% - 0px));
    }

    .svg-icon {
      transition: width 0.1s cubic-bezier(0.4, 0, 0.6, 1);
      color: rgba(0, 0, 0, 0.54);
      fill: rgba(0, 0, 0, 0.54);
      display: inline-block;
      width: 1em;
      height: 1em;
      fill: currentColor;
      position: relative;
    }
  }
}
